mpmath>=1.2.1
numpy>=1.26.4
pandas>=2.2.2
parameterized>=0.9.0
parametrized>=66.0.2
python-dateutil>=2.9.0.post0
pytz>=2024.1
six>=1.16.0
sortedcontainers>=2.4.0
sympy>=1.12
timeout-decorator>=0.5.0
tzdata>=2024.1
